@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #351898;
  --black-color: #111;
  --secondary-color: #F7930A;
}

body {
  background-color: #b97ed6;
  font-family: 'Poppins', sans-serif;
  color: var(--black-color);
}

h2 {
  color: var(--black-color);
  display: inline-block;
  font-size: 2.5rem;
}

.btn {
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  padding: 20px 35px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.meal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  display: flex;
}

.meal-img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  flex: 1;
}

.meal-img img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.meal-details {
  padding: 30px;
  flex: 2;
  position: relative;
}

.meal-details .btn {
  position: absolute;
  right: -10px;
  bottom: -10px;
}

.meal-title {
  color: var(--primary-color);
  margin: 0 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.meal-instruction {
  font-size: 14px;
}

.meal-info {
  list-style: none;
  padding: 0;
  display: flex;
}

.meal-info li {
  color: #555;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.meal-info li strong {
  color: var(--primary-color);
  font-size: 16px;
  display: block;
}